/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
  --bg: #F0F0C9;
  --text: #37393a;
  --main1: #08B2E3;
  --main2: #D264B6;
  --main3: #F2BB05;

}
/* Set Fonts and Resets */
body,
html {
  background: var(--bg);
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  font-family: "Ubuntu Mono", monospace;
}

/* With Flexbox, Horizontally and vertically cneter */
body {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}


/* Actual Keyboard Keys */
kbd {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  display: block;
  font-size: 4rem;
  color: var(--text);
}

/* Name of Sound */
.sound {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: var(--text);
}

/* Use CSS Grid to display keys */
.keys {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Visual Keys / Squares */
.key {
  grid-column: 2/3;
  /* Typography */
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;

  /* Styling of keys */
  width: 10rem;
  text-align: center;
  outline: 3px solid var(--main1);
  
  /* Change mouse pointer */
  cursor:pointer;
  -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  
  /* Call Transition */
  transition: all 0.07s ease;
}


/* Transition Animation. Last frame of animation. */
.playing {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  box-shadow: 10px 10px 0 var(--main3);
  background: var(--main2);
}